body {
    margin: 0;
    background:whitesmoke;
}

h2, h3 {
    color: orange;
    font-family: 'Rye', cursive;
}

#guitar-image {
    background-image: url("assets/guit.jpg");
    display: flex;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.5;
}

#hero-text {
    color: white;
}