body {
    margin: 0;
    background:antiquewhite;
    overflow-x: hidden;
}

h2, h3 {
    color: orange;
    font-family: 'Rye', cursive;
}

#guitar-image {
    background-image: url("assets/guit.jpg");
    background-color: #cccccc;
    display: flex;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-text {
    color: white;
}

#teeny {
    font-size: 8px;
}

.table-text {
    font-size: 12px;
}

.text-uppercase {
    color: white;
}

#newAlbum {
    border: 3px solid white;
}

hr {
    width: 25%;
}